<html>

<head>
    <link rel="stylesheet" href="index.css" type="text/css"></link>
    <script src="bower_components/angular/angular.js"></script>
    <script src="matrix/matrix.js"></script>
    <script src="app.js"></script>
    <script src="easyCanvas.js"></script>
    <script src="canvasCircle.js"></script>
    <script src="canvasRectangle.js"></script>
    <script src="canvasPath.js"></script>
    <script src="node.js"></script>
    <script src="aStarSearch.js"></script>
</head>

<body class="fullscreen" ng-app="CS670">
    <h1>A* Search Bot</h1>
    <div ng-controller="Main">
        <button ng-show="!enableAddingObstacles" ng-click="enableAddingObstacles = true">Enable Adding Obstacle</button>
        <button ng-show="enableAddingObstacles" ng-click="enableAddingObstacles = false">Disable Adding Obstacle</button>
        <button ng-click="addObstacles()">Add Random Obstacles</button>
        <button ng-click="search()">Search</button>
        <button ng-click="reset()">Reset</button>
        </br>
        <canvas class="map" easy-canvas ng-attr-height="{{map.height}}" ng-attr-width="{{map.width}}" ng-click="placeCircle($event)">
            <div ng-repeat="circle in circles" canvas-circle context="context" cx="circle.x" cy="circle.y" cr="circle.r"></div>
            <div ng-repeat="path in paths" canvas-path context="context" path="path"></div>
            <!-- <div canvas-rectangle context="context" rectangle="startingPoint"></div>
            <div canvas-rectangle context="context" rectangle="endingPoint"></div> -->
        </canvas>
    </div>
</body>

</html>
