<html>

<head>
    <link rel="stylesheet" href="index.css" type="text/css"></link>
    <script src="bower_components/angular/angular.js"></script>
    <script src="app.js"></script>
</head>

<body class="fullscreen" ng-app="CS670">
    <h1>A* Search Bot</h1>
    <div ng-controller="Main">
        <button>Add Obstacle</button>
        <button ng-click="addObstacles()">Add Random Obstacles</button>
        <button>Reset</button>
        </br>

        <svg class="map" ng-attr-height="{{map.height}}" ng-attr-width="{{map.width}}">
            <circle ng-repeat="circle in circles" ng-attr-cx="{{circle.x}}" ng-attr-cy="{{circle.y}}" ng-attr-r="{{circle.r}}">
            </circle>
        </svg>
    </div>
</body>

</html>
